.jumbotron-fluid
{
    background: #41F497;
}

#titular-novo-lembrete 
{
    color: #41F497;
}

#titular-tarefas
{
    color: #41F497;
}

textarea
{
    border: 1px solid #41dff4;
}

.recordatorio
{
    padding: 0.5em;
    background-color: #41dff4;
    color: white;
    cursor: pointer;
}

#buttonSave, .fa-window-close
{
    cursor: pointer;
}
